

$darkNavy: #0040a1;
$teal1: #0040a1;
$teal2: #0040a1;
$charcoal: #0040a1;
$gold: #B6985A;

$activeShadow: 0 0 10px rgba($teal1, .5);

/* MIXINS */
@mixin focusOutline {outline: dotted 1px #CCC; outline-offset: .45rem;}
@mixin hideInput {width: 0; height: 0; position: absolute; left: -9999px;}
@mixin breakpoint($point) {
	@if $point == 1100 {
		@media (max-width: 1100px) { @content ; }
	}
	@else if $point == 800 {
		@media (max-width: 800px) { @content ; }
	}
}
/* TOGGLE STYLING */
.radio-group.toggle {
	margin: 0 0 1.5rem 0; box-sizing: border-box;
	font-size: 0;
	display: flex; flex-flow: row nowrap;
	justify-content: flex-start; align-items: stretch;
	input {@include hideInput;}
	input + label {
		margin: 0; padding: .45rem 1.5rem; box-sizing: border-box;
		position: relative; display: inline-block;
		border: solid 1px #DDD; background-color: #FFF;
		font-size: 1rem; line-height: 140%; font-weight: 600; text-align: center;
		box-shadow: 0 0 0 rgba(255,255,255,0);
		transition: 	border-color .15s ease-out, 
					color .25s ease-out, 
					background-color .15s ease-out,
					box-shadow .15s ease-out;
	}
	input:hover + label {border-color: $darkNavy;}
	input:checked + label {
		background-color: $teal2;
		color: #FFF !important;
		box-shadow: $activeShadow;
		border-color: $teal2;
		z-index: 1;
	}
	input:focus + label {@include focusOutline;}

	@include breakpoint(800) {
		input + label {
			padding: 1.2rem .85rem;
			flex: 0 0 30%;
			font-size: 12px !important;
			display: flex; justify-content: center; align-items: center;
		}
	}
}
